

.navbar_toggle {
    display: block;
    cursor: pointer;
    z-index: 100; /* Set a higher z-index to ensure the icon is on top of other elements */
    position: relative; /* Make sure the position is set to relative or absolute */
}

/* Show the middle bar (bar 2) of the close button when the menu is active */
#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

/* Rotate and move the top bar (bar 1) to form an X shape */
#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/* Rotate and move the bottom bar (bar 3) to form an X shape */
#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

